.container {
  background-color: #f9f9f9;
  height: 400px;
}

.col {
  background: #f9f9f9;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.aula5 {
  background: #f9f9f9;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.aula5-alinhamento-horizontal {
  text-align: center;
  background: #f9f9f9;
  border: solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.aula-6 {
  min-height: 250px;
  border: solid red;
  background-color: black;
  border: solid 1px white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.caixas {
  height: 250px;
  background: red;
  border: solid 1px black;
}
